<app-navbar></app-navbar>
<app-carousel></app-carousel>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-14">
            <div class="home-about">
                <div class="about-content">
                    <h1>Welcome to Kerala: God's Own Country</h1>
                    <p class="about-desc">
                        Welcome to Kerala, often referred to as "God's Own Country." Nestled between the Western Ghats
                        and the Arabian Sea, Kerala is a tropical paradise that offers a captivating blend of natural
                        beauty, rich culture, and warm hospitality. Its lush landscapes are a feast for the eyes, with
                        picturesque hill stations like Munnar and Wayanad, serene backwaters in Alappuzha and Kumarakom,
                        and pristine beaches along its coastline. Kerala's vibrant cultural heritage is showcased
                        through its traditional dance forms like Kathakali, colorful festivals such as Onam, and
                        historical landmarks that reflect its diverse religious traditions. Culinary enthusiasts will
                        delight in Kerala's cuisine, known for its rich flavors and use of fresh, local ingredients,
                        from elaborate vegetarian feasts to delectable seafood dishes. As the cradle of Ayurveda, Kerala
                        offers numerous wellness retreats where visitors can rejuvenate through ancient holistic
                        practices. Whether you seek adventure in its wildlife sanctuaries, tranquility on a houseboat,
                        or a deep dive into its cultural tapestry, Kerala promises an unforgettable journey filled with
                        unique experiences and lasting memories.
                    </p>
                </div>
            </div>
        </div>
    </div>



    <div class="section section-1">
        <div class="container">
            <h1>Experience in Kerala</h1>
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="https://www.keralatourism.org/images/eco-tourism/bg3.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-text">Eco Tourism</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="https://www.keralaayurveda.biz/images/category-mob.webp" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-text">Ayurveda</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYRN-7OKhLiv75T2HS9PZ5Y8DMwDqKbdmGAw&s" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-text">Kadha Kali</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="https://th-i.thgim.com/public/life-and-style/food/xia6oi/article67220864.ece/alternates/FREE_1200/Onam%20Sadhya%20-%20Moplah%27s.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-text">Onam</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="https://miro.medium.com/v2/resize:fit:1400/0*UFZpcNteuPyi2c1o" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-text">Theyyam</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- Repeat similar structure for remaining cards or leave some columns empty if less than 4 cards -->
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="https://www.keralatourism.org/images/festivals/large/20181023064920_245_1.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-text">Boat Race</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="https://www.keralatourism.org/images/artforms/large/kalaripayattu20131111114353_27_1.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-text">Kalaripayattu</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="https://beyonder.travel/wp-content/uploads/2019/06/colorful-kerala-1140x445.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-text">House Boats</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- <p>This is some content for the first section.</p> -->
        </div>
    </div>


    <div class="parallax"></div>

    <app-card></app-card>
</div>